{% extends 'base.html' %}
{% block content %}
        <div class="page-wrapper">
            <div class="content container-fluid">
			<div class="page-header">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<h5 class="text-uppercase">Paper Reviews</h5>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-sm-4 col-3">

                    </div>
                </div>
			<div class="content-page">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
<!--                    <form action="" method="GET">-->
<!--                <div class="row filter-row">-->
<!--                    <div class="col-sm-9 col-md-9">-->
<!--						<div class="form-group custom-mt-form-group">-->
<!--							<input name="q" type="text"/>-->
<!--							<label class="control-label">Please search by Acronym,Name</label><i class="bar"></i>-->
<!--						</div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-3 col-md-3">-->
<!--                        <button type="submit" class="btn btn-success btn-block mt-4 mb-2"> Search </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                    </form>-->

                            <table class="table table-striped custom-table datatable">
                                <thead>
                                    <tr>
                                        <th style="min-width:50px;">Acronym</th>
                                        <th style="min-width:70px;">Conference</th>
                                        <th style="min-width:90px;">Deadline</th>
                                        <th style="min-width:90px;">Give Feedback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in papers %}
                                    <tr>
                                        <td><a href="{% url 'review-paper' id=i.id %}">{{i.conference_acronym}}</a></td>
                                        <td>{{i.conference_name}}</td>
                                        <td>{{i.cfp_submission_deadline}}</td>
                                        <td>
											<a href="{% url 'author-feedback' id=i.id %}" class="btn btn-primary btn-sm mb-1" title="Edit CFP">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
		</div>
{% endblock %}