{% extends 'base.html' %}
        {% block content %}
        <div class="page-wrapper">
            <div class="content container-fluid">
			<div class="page-header">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<h5 class="text-uppercase">Assign Paper</h5>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-sm-4 col-3">

                    </div>
                </div>
			<div class="content-page">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable">
                                <thead>
                                    <tr>
                                        <th style="min-width:70px;">Paper Name</th>
                                        <th style="min-width:50px;">Conference Name</th>
                                        <th style="min-width:90px;">Conference start Date</th>
                                        <th style="min-width:90px;">Conference End Date</th>
                                        <th class="text-center" style="min-width:50px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i,j,S in papers %}
                                    <tr>
                                        <td>{{i.paper_name}}</td>
                                        <td>{{i.conference_name}}</td>
                                        <td>{{j.conference_start_date}}</td>
                                        <td>{{j.conference_end_date}}</td>
                                       <td class="text-center" >
                                           {% if S %}
											<a href="{% url 'remove_assigned' conf=i.conference_name name=i.paper_name %}" class="btn btn-primary btn-sm mb-1" title="Edit CFP">
												<i class="fa fa-trash-o" aria-hidden="true">Remove</i>
											</a>
                                            {% else %}
											<a href="{% url 'assign_done' name=i.conference_name name1=i.paper_name %}" class="btn btn-primary btn-sm mb-1" title="Edit CFP">
												<i class="fa fa-pencil" aria-hidden="true">Assign</i>
											</a>
                                           {% endif %}
										</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
</div>

{% endblock %}