{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="icon" href="{% static 'logo.png' %}" type="image/gif" sizes="16x16">
    <title>Conference Management System</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>



<body>
       <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="{% static 'logo.png' %}" width="60" height="60" alt="">
<!--					<span class="text-uppercase">Preschool</span>-->
                </a>
            </div>
            <div class="page-title-box float-left">
              <h3 class="text-uppercase">Preschool</h3>
            </div>
            <ul class="nav user-menu float-right">
                <li class="nav-item ">
                    <a href="/" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span>{{U}}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/reset_password">Change Password</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
                </li>
            </ul>
        </div>

<!--            <div class="dropdown mobile-user-menu float-right"> &lt;!&ndash; mobile menu &ndash;&gt;-->
<!--                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>-->
<!--                <div class="dropdown-menu dropdown-menu-right">-->
<!--                    <a class="dropdown-item" href="profile.html">My Profile</a>-->
<!--                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>-->
<!--                    <a class="dropdown-item" href="settings.html">Settings</a>-->
<!--                    <a class="dropdown-item" href="login.html">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        {% block content %}{% endblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script type="text/javascript" src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

</body>
</html>