{% extends 'base.html' %}
{% block content %}
        <div class="page-wrapper">
<div>
    {% if messages %}
    {% for i in messages %}

    <h5 style="margin-top:0px;text-align:center;background-color:Red;width:100%">{{i}}</h5>

    {% endfor %}
    {% endif %}

</div>

            <div class="content container-fluid">
                <div class="page-header">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<h5 class="text-uppercase">Create CFP</h5>
						</div>
					</div>
				</div>
				<div class="page-content">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-12 col-md-6 col-sm-6 col-12">
											<form method="GET" id="get_conference_data">
												 {% csrf_token %}
													<div class="form-group custom-mt-form-group">
												<label>Select Conference</label>
												<select id="conference_name" name="conference_name" onchange="changeFunc();" required>
													<option value="">{{selected.conference_name}}	--------Click Here To change-----------</option>
													{% for i in all_conferences %}
													<option id="check" value="{{i.conference_name}}">{{i.conference_name}}</option>
													{% endfor %}
												</select>
												</div>
											</form>
											<div class="card" id="ConferenceDetails">
												<h2>Conference Details</h2>
												<h5>Conference Name: {{selected.conference_name}}</h5>
												<br/>
												<h5>Conference Acronym: {{selected.conference_acronym}}</h5>
												<br/>
												<h5>Conference Start Date: {{selected.conference_start_date}}</h5>
												<br/>
												<h5>Conference End Date: {{selected.conference_end_date}}</h5>
												<br/>
												<h5>Conference Topics: {{selected.topic}}</h5>
												<br/>
											</div>


											 <form action="" method="POST" enctype="multipart/form-data" class="custom-mt-form">
												 {% csrf_token %}
												<div style="margin-top:30px;" class="form-group custom-mt-form-group">
													<input type="hidden" name="conference_name" value="{{selected.conference_name}}">
													<label class="control-label">Conference Name (Selected)</label>
													<br/>

													<h5 style="margin-left:20px;">{{selected.conference_name}}</h5>
												</div>
												<div style="margin-top:30px;" class="form-group custom-mt-form-group">
													<input type="hidden" name="conference_acronym" value="{{selected.conference_acronym}}">
													<label class="control-label">Acronym</label>
													<br/>
													<h5 style="margin-left:20px;">{{selected.conference_acronym}}</h5>
												</div>
												<div style="margin-top:30px;" class="form-group custom-mt-form-group">
													<input type="hidden" name="conference_start_date" value="{{start}}">
													<label class="control-label">Conference Start Date </label>
													<br/>
													<h5 style="margin-left:20px;">{{start}}</h5>
												</div>
												<div style="margin-top:30px;" class="form-group custom-mt-form-group">
													<input type="hidden" name="conference_end_date" value="{{end}}">
													<label class="control-label">Conference End Date</label>
													<br/>
													<h5 style="margin-left:20px;">{{end}}</h5>
												</div>
												<div style="margin-top:30px;" class="form-group custom-mt-form-group">
													<input type="date" name="deadline" required>
													<label class="control-label">Add Deadline for paper Submission</label>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12 col-12">
														<div class="form-group text-center custom-mt-form-group">
															<button class="btn btn-primary mr-2" type="submit">Create CFP</button>
														</div>
												</div>

											 </form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

<script>
   function changeFunc() {
    var selectBox = document.getElementById("conference_name");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
	var form = document.getElementById("get_conference_data");
    form.submit()
   }
</script>
{% endblock %}