{% extends 'base.html' %}
{% block content %}
        <div class="page-wrapper">
            <div class="content container-fluid">
			<div class="page-header">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<h5 class="text-uppercase">Paper Reviewed</h5>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-sm-4 col-3">

                    </div>
                </div>
			<div class="content-page">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable">
                                <thead>
                                    <tr>
                                        <th style="min-width:70px;">Paper Name</th>
                                        <th style="min-width:50px;">Call For</th>
                                        <th style="min-width:50px;">Submission Deadline</th>
                                        <th class="text-right" style="min-width:50px;">View Review</th>
                                        <th class="text-right" style="min-width:50px;">Edit Review</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in papers %}
                                    <tr>
                                        <td>{{i.paper_name}}</td>
                                        <td>{{i.conference_name}}</td>
                                        <td>{{i.deadline}}</td>
                                       <td class="text-right" >
											<a href="{% url 'view-review' id=i.paper_name %}" class="btn btn-primary btn-sm mb-1" title="Edit CFP">
												<i class="fa fa-eye" aria-hidden="true"></i>
											</a>
										</td>
                                        <td class="text-right">
											<a href="{% url 'edit-review' id=i.paper_name %}" class="btn btn-info btn-sm mb-1" title="View CFP">
											<i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
		</div>

{% endblock %}