*{
    padding: 0;
    margin: 0;
}

nav{
    height: 70px;
    width: 100%;
    background-color: #373543;
    text-transform: uppercase;

}
.logo{
    color: 
    #42c297;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    float: left;
    margin-left: 40px;
    line-height: 65px;
}

ul{
    list-style: none;
    float: right;
    margin-right:   40px;
    
}

li a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

ul li{
    display: inline-block;
    line-height: 70px;
    margin-right: 40px;
}
li a.anchor{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    transition: 1s;
}
li a:hover{
    text-decoration: none;
    color: #E5E7E9;
    transition: 1s;
}

.anchor1 i:hover{
    cursor: pointer;
    border: none;
}

.icon{
    float: right;
    line-height: 70px;
    margin-right: 30px;
    display: none;
}

.register{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    color: 
    #7d7d7d;
    
}

.left{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.right{
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

#user{
    display: none;
    font-size: 20px;
}

.right a{
    font-size: 0.8;
    color: #7d7d7d;

}
.right a:hover{
    text-decoration: none;
    color: #E5E7E9;
    transition: 1s;
    opacity: 1;
}

.right #cart{
    margin-right: 15px;
    font-size: 20px;
}
 #user1 {
    font-size: 20px;
}
li input{
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 15px;
    height: 30px;
    color: white;
    border: 1px solid #373543;
    box-shadow: 0px 0px 30px 2px rgb(37, 36, 36);

}


label i{
    color:  #406156;
    margin-left: 5px;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container2{
      width:100%;
  }

  .title{
      margin-top: 30px;
      width: 100%;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      color: #7d7d7d;

  }
  .cards{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 30px;


  }

  .card{
      margin-left: 30px;
      margin-top: 50px;
      margin-bottom: 50px;
      


  }

  footer{
      margin-top: 50px;
      width: 100%;
      height: 50px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: #7d7d7d;
      font-size: 0.7em;
      padding-top: 20px;

  }

  li input{
    width: 70%;
}

li  input:focus{
    width: 80%;
    transition: 1s;

}


@media only screen and (max-device-width:800px){

    .icon{
        display: block;
    }

    nav.stick{
        position: fixed;
        z-index: 5;
    }

    ul{
        position: fixed;
        background-color: #44415a;
        width: 100%;
        top: 70px;
        left: 100%;
        z-index: 10;
        height: 100vh;
        text-align: center;
        transition: 0.5s all;
    }

    ul.show{
        left: 0;
    }

    ol li{
        display: none;
    }

    ul li{
    }
 .right a{
    display: none;
}

.right{
    display: flex;
}
#user,#cart{
    display: flex;
}
#user1{
    display: flex;
}
.cards{
    grid-template-columns: 1fr;
    padding: 0;

}
.card{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

li input{
    width: 40%;

}

li  input:focus{
    width: 50%;
    transition: 1s;
}


}

@media only screen and (max-device-width:380px){

    .icon{
        display: block;
    }



    nav.stick{
        position: fixed;
        z-index: 5;
    }

    ul{
        position: fixed;
        background-color: #44415a;
        width: 100%;
        top: 70px;
        left: 100%;
        z-index: 10;
        height: 100vh;
        text-align: center;
        transition: 0.5s all;
    }

    ul.show{
        left: 0;
    }

    ol li{
        display: none;
    }

 .right a{
    display: none;
}

.right{
    display: flex;
}
#user,#cart,#user1{
    display: flex;
}
.cards{
    grid-template-columns: 1fr;
    padding: 0;

}
.card{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

}
li input{
    width: 40%;
}

li  input:focus{
    width: 50%;
    transition: 1s;
}



}